<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chu.mapper.BoardMapper">
	<!-- 게시판 등록 -->
	<insert id="enroll">
		<![CDATA[
		insert into chu_board(bno,title, content, writer)
		values (chu_board_seq.nextval, #{title}, #{content}, #{writer})
		]]>
	</insert>
	
	<!-- 게시판 목록 -->
	<select id="getList" resultType="com.chu.model.BoardVO">
		<![CDATA[
		select * from chu_board order by bno desc
		]]>
	</select>
</mapper>